@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    
    --color-Background: #161B22;
    --color-gris-0: #E8E8E8;
    --color-gris-1: #D1D1D1;
    --color-azul-claro: #1058D5;
    --color-morado: #2F0823;


    --w-nav-icon: 30px;
    --w-nav-input: 500px;
    --w-card-img: 700px;
    --w-footer-item: 50px;
    --w-nav-dark:70px;
    --w-nav-luna: 30px;
    --w-hero-icon: 90px;


    --m-lados: 60px;
    --m-lados-m: 20px;
    --m-nav: 15px;
    --m-card-img: 80px;
    --m-footer-net: 60px;
    --m-article: 60px;

    --m-nav-g: 30px;



    --f-nav-input: 20px;
    --f-hero: 60px;
    --f-card-h1: 50px;
    --f-card-h2: 30px;
    --f-card-h3: 20px;
    --f-footer-h1: 30px;
    --f-footer-h2: 20px;
    --f-article-h1: 40px;
    --f-article-h2:35px;

    --f-hero-h3: 20px;


    --b-card-img: 10px;

    --s-nav: 2px;
    --s-nav-s: 5px;
}

*{
    max-width: 1440px;
    margin: 0px auto;
    padding: 0;
    font-family: "Roboto";
    background-color: var(--color-Background);
}







.navegation{
    margin: var(--m-lados) var(--m-lados-m) ;

    width: 95%;

    
    background-color: var(--color-Background);
    display: flex;
    align-items:  center;
    justify-content: space-between;
}

.navegation-container{
    margin:0px;
    padding: 0px;
    display: flex;
    align-items:  center;
    justify-content: center;
}

.navegation-logo{
    
    margin:0;
    margin-right: var(--m-nav-g); 
    padding: 0;
    background-color: var(--color-Background);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--s-nav) var(--s-nav) var(--s-nav-s) 0px rgba(255,255,255,0.2);
    text-decoration: none;
}

.navegation-logo img{

    margin: var(--m-nav);
    width: var(--w-nav-icon);
    cursor:pointer;
}

#searchBox{
    margin:0px;

    padding: 0px;

    border-radius: 50px;
    background-color:var(--color-Background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--s-nav) var(--s-nav) var(--s-nav-s) 0px rgba(255,255,255,0.2);
    transition: 2s;
}

#searchIcon{
    margin: var(--m-nav);
    width: var(--w-nav-icon);
    cursor:pointer;
    transition: 2s;

}

input{
    font-size: var(--f-nav-input);
    width:0;
    border: 0px;
    background: transparent;
    outline: none;
    color: rgb(255, 255, 255);
    transition: 2s;

    margin: 0;
}

.navegation-active input{
    width:var(--w-nav-input);
}

.navegation-active #navegationFlechas{
    height: var(--w-nav-icon);
    margin: var(--m-nav);
    margin-left: 0;
}

#navegationFlechas{
    margin: 0;
    height: 0;
    cursor:pointer;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.navegation-dark{
    width: var(--w-nav-dark);
    margin: auto 0;
   
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: var(--s-nav) var(--s-nav) var(--s-nav-s) 0px rgba(255,255,255,0.2);
    text-decoration: none;
    
}

.navegation-dark img{
    border-radius: 50px;
    margin: 3px 4px;
    width: var(--w-nav-luna);
    cursor:pointer;
    transition: 2s;
}


.navegationLuz-active{
    justify-content: flex-end;
    background-color: white;
}












.hero{
    margin: var(--m-lados) var(--m-lados-m);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;

}

.hero-text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin:0px;
}

.hero-text h1{
    color: white;
    font-size: var(--f-hero);
    font-weight: bold;
}


.hero-text img{
    margin: auto 0;
    width: var(--w-hero-icon);
}

.hero-about{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin:0px;
    text-decoration: none;
}

.hero-about h3{
    color: var(--color-azul-claro);
    font-size: var(--f-hero-h3);
    font-weight: normal;
    margin: var(--m-nav-g) 0;
}













.line{
    margin: var(--m-lados) var(--m-lados-m);
}

.line hr {
    border-radius: 50px;
    height: 1px;
    width: 100%;
    background-color: white;
  }








.card {
    margin: var(--m-lados) var(--m-lados-m);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-decoration: none;
}

.card-texto{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.card-texto h1{
    color: white;
    font-size: var(--f-card-h1);
    font-weight: bold;
    margin-bottom: 10%;
}
.card-texto h2{
    color: var(--color-gris-0);
    font-size: var(--f-card-h2);
    font-weight: normal;
}

.card-imagen{

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.card-imagen img{
    width: var(--w-card-img);
    margin-left: var(--m-card-img);
    margin-bottom: 10%;
    border-radius: var(--b-card-img);
}


.card-imagen-items{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px;
    padding: 0px;
}

.card-imagen-items img{
    width: var(--w-nav-luna);
    margin: 0;
}

.card-imagen-items h3{

    color: var(--color-gris-1);
    font-size: var(--f-card-h3);
    font-weight: normal;
    margin: 0 5px;
}


















.footer{
    display: flex;
    flex-direction: column;
    margin: var(--m-lados) var(--m-lados-m);
    align-items: flex-start;
    justify-content: flex-start;
}

.footer h1{
    color: white;
    font-size: var(--f-footer-h1);
    font-weight: bold;
    margin:0px;
}

.footer-networks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--m-footer-net) 0;
    width: 45%;
} 

.footer-networks a{
    text-decoration: none;
    margin:0;
}

.footer-networks img{
    width: var(--w-footer-item);
    margin:0;
}

.footer h2{
    color: white;
    font-size: var(--f-footer-h2);

    font-weight: normal;
    text-align: center;
}

.article{
    margin: var(--m-lados) var(--m-lados-m);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
}

.article h1{
    width: 40%;
    color: white;
    font-size: var(--f-article-h1);
    font-weight: bold;
    margin: 0;
    margin-bottom: var(--m-article);
    
}

.article img{
    width: 85%;
    margin: 0;
    margin-bottom: var(--m-article);
    border-radius: var(--b-card-img);
}

.article h2{
    margin: 0;
    color: var(--color-gris-0);
    font-size: var(--f-article-h2);
    font-weight: bold;
    margin-bottom: var(--m-article);
}

.article h3{
    color: var(--color-gris-0);
    font-size: var(--f-article-h2);
    font-weight: normal;
    margin-bottom: var(--m-article);
}

.article-link{
    color: var(--color-azul-claro);
    text-decoration: none;
}

.article-code{
 
    margin-bottom: var(--m-article);

    width: 70%;
    background-color: var(--color-morado);
    border-radius: var(--b-card-img);
    padding: var(--m-nav);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}




















.cv{
    
    margin: var(--m-lados) var(--m-lados-m);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cv-button{
    text-decoration: none;
    width: 30%;
    margin: 0px 0px var(--m-lados) 0px;
    padding: var(--m-nav);
    
    background-color: var(--color-azul-claro);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--b-card-img);
    outline:none;
    border:none;
}
.cv-button h1{
    text-decoration: none;
    background-color: var(--color-azul-claro);
    margin: 0;
    color: white;
    font-size: var(--f-card-h3);
    font-weight: normal;

}

.cv img{
    margin: 0px;
    width: 85%;
}





















@media (max-width: 1300px) and  (min-width: 900px) {
:root {
    --w-nav-icon: 25px;
    --w-nav-input: 450px;
    --w-card-img: 500px;

    --m-lados: 50px;
    --m-lados-m: 25px;
    --m-nav: 10px;
    --m-card-img: 70px;

    --f-nav-input: 15px;
    --f-hero: 45px;
    --f-card-h1: 40px;
    --f-card-h2: 20px;
    --f-card-h3: 10px;

    --b-card-img: 10px;
    --s-nav: 2px;
    --s-nav-s: 5px;

    --w-footer-item: 45px;
    --m-footer-net: 55px;
    --f-footer-h1: 25px;
    --f-footer-h2: 15px;

    --m-article: 55px;
--f-article-h1: 38px;
    --f-article-h2:32px;

    --w-nav-dark:65px;
    --w-nav-luna:25px;
    --w-hero-icon: 80px;
 --m-nav-g: 25px;
--f-hero-h3: 15px;

}
}


@media (max-width: 899px) and  (min-width: 700px) {
    :root {
        --w-nav-icon: 22px;
        --w-nav-input: 330px;
        --w-card-img: 350px;
    
        --m-lados: 40px;
        --m-lados-m: 20px;
        --m-nav: 7px;
        --m-card-img: 60px;
    
        --f-nav-input: 10px;
        --f-hero: 35px;
        --f-card-h1: 30px;
        --f-card-h2: 20px;
        --f-card-h3: 10px;

        --b-card-img: 10px;
        --s-nav: 1px;
        --s-nav-s: 3px;

        --w-footer-item: 40px;
        --m-footer-net: 50px;
        --f-footer-h1: 25px;
        --f-footer-h2: 13px;

        --m-article: 50px;
        --f-article-h1: 35px;
            --f-article-h2:30px;


            --w-nav-dark:60px;
    --w-nav-luna:20px;
    --w-hero-icon: 75px;
 --m-nav-g: 20px;
--f-hero-h3: 12px;
    }
    }

@media (max-width: 699px) and  (min-width: 520px) {
    :root {
        --w-nav-icon: 20px;
        --w-nav-input: 210px;
        --w-card-img: 280px;
    
        --m-lados: 30px;
        --m-lados-m: 10px;
        --m-nav: 5px;
        --m-card-img: 45px;
    
        --f-nav-input: 10px;
        --f-hero: 25px;
        --f-card-h1: 20px;
        --f-card-h2: 15px;
        --f-card-h3: 10px;

        --b-card-img: 7px;
        --s-nav: 1px;
        --s-nav-s: 3px;

        --w-footer-item: 37px;
        --m-footer-net: 50px;
        --f-footer-h1: 25px;
        --f-footer-h2: 13px;

        --m-article: 42px;
        --f-article-h1: 28px;
            --f-article-h2:26px;

            --w-nav-dark:55px;
    --w-nav-luna:18px;
    --w-hero-icon: 65px;
 --m-nav-g: 17px;
--f-hero-h3: 11px;
    }
}

@media (max-width: 519px) and  (min-width: 375px) {
    :root {
        --w-nav-icon: 16px;
        --w-nav-input: 160px;
        --w-card-img: 200px;
    
        --m-lados: 20px;
        --m-lados-m: 10px;
        --m-nav: 5px;
        --m-card-img: 40px;
    
        --f-nav-input: 7px;
        --f-hero: 20px;
        --f-card-h1: 15px;
        --f-card-h2: 10px;
        --f-card-h3: 7px;

        --b-card-img: 5px;
        --s-nav: 1px;
        --s-nav-s: 2px;

        --w-footer-item: 35px;
        --m-footer-net: 45px;
        --f-footer-h1: 20px;
        --f-footer-h2: 12px;

        --m-article: 40px;
        --f-article-h1: 25px;
            --f-article-h2:23px;

            --w-nav-dark:50px;
            --w-nav-luna:16px;
            --w-hero-icon: 60px;
         --m-nav-g: 15px;
        --f-hero-h3: 10px;
    }
}


@media (max-width: 374px)  {
    :root {
        --w-nav-icon: 13px;
        --w-nav-input: 120px;
        --w-card-img: 170px;
    
        --m-lados: 15px;
        --m-lados-m: 7px;
        --m-nav: 5px;
        --m-card-img: 35px;
    
        --f-nav-input: 8px;
        --f-hero: 15px;
        --f-card-h1: 10px;
        --f-card-h2: 9px;
        --f-card-h3: 6px;

        --b-card-img: 4px;
        --s-nav: 1px;
        --s-nav-s: 2px;

        --w-footer-item: 30px;
        --m-footer-net: 45px;
        --f-footer-h1: 20px;
        --f-footer-h2: 12px;

        --m-article: 38px;
        --f-article-h1: 22px;
            --f-article-h2:21px;


            --w-nav-dark:40px;
            --w-nav-luna:14px;
            --w-hero-icon: 50px;
         --m-nav-g: 12px;
        --f-hero-h3: 9px;

    }
}